{% extends "base.html" %}
{% block title %}Satisfaction Survey{% endblock %}
{% block content %}
<h1>Satisfaction Survey</h1>
{% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
   </ul>
   {% endif %}
{% endwith %}
<form method="POST">
    <label for="question">{{question.question}}</label><br>
    {% for choice in question.choices %}
    <input type="radio" id="{{choice}}" name="answer" value="{{choice}}">
    <label for="{{choice}}">{{choice}}</label><br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
{% endblock %}